#menu2-page {
  width: 100%;
  background: url("http://localhost:8282/image/goods/product-page.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll !important;
}
#menu2-page .container {
  width: 1140px;
  padding: 170px 0 120px 0;
  margin: 0 auto;
}
#menu2-page .container .row {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Oswald";
  color: #fff;
  text-transform: uppercase;
}
#menu2-page .container .row h2 {
  font-size: 4rem;
}
#menu2-page .container .row nav ol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
#menu2-page .container .row nav ol li.active,
#menu-page .container .row  nav ol li a {
  color: #fff;
  font-size: 0.925rem;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
}
#menu2-page .container .row nav ol li.active {
  padding-left: 12px;
}

#menu2-page .container .row nav ol li.active::before {
  font-size: 0.925rem;
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}
